# Основное
pyTelegramBotAPI==4.22.1

# Для работы с конфигами (.env)
python-dotenv==1.0.1

# Для базы (SQLite встроен, но добавим поддержку внешних пакетов)
sqlite3-binary

# Для удобства (если захочешь тесты или расширение проекта)
requests==2.32.3
